@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

/*
[font list]
'Sunflower', sans-serif
'Gaegu', cursive
'Poor Story', cursive;
'Pangolin', cursive
'Just Me Again Down Here', cursive
*/

.cafe-space {
  background: transparent;
  margin-left: 3px;
  position: relative;
  z-index: 101;
}

.cafe-border {
  height: 65px;
  background-size: 80px;
  padding: 3px;
  z-index: 102;
}

.cafe-detail {
  position: absolute;
  top: 0px;
  left: 160px;
  z-index: 103;
}

.cafe-title {
  background: transparent;
  margin-left: 1px;
  margin-top: 8px;
  font-size: 13px;
  text-align: center;
  font-family: 'Gaegu', cursive;
}

.cafe-filter-icon {
  margin-left: 4px;
  margin-top: 8px;
  animation: movingDot 1s infinite;
}

@keyframes movingDot {
  0% {
    transform: translateY(1px);
  }

  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(1px);
  }
}