@import url('https://fonts.googleapis.com/css2?family=Alef&family=Modak&family=Poor+Story&display=swap');

div {
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
}

.search-header{
    padding-left: 24px;
    padding-top: 12px;
}

.search-result {
    width: 100%;
    height: 440px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.cafe {
    position: absolute;
    left: 20px;
    transition: all 0.5s ease 0s;
    padding: 10px 0px;
}

.result-button-wrapper {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.result-button-wrapper button {
    color: #000000;
    padding: 4px 16px;
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.result-button-wrapper button img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.search-bottom {
    padding-right: 20px;
    padding-top: 4px;
    text-align: right;
    font-size: 12px;
}

.search-bottom span {
    padding-left: 4px;
}

.search-bottom span img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}