@import url('https://fonts.googleapis.com/css2?family=Alef&family=Modak&family=Poor+Story&display=swap');

div {
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
}

.search-container {
    height: 80vh;
}

.search-header{
    padding-left: 24px;
    padding-top: 12px;
}

.search-wrapper {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}