@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.logo {
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.05em;

  color: #261308;
}