@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+KR&display=swap');

.spot-header-name {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  display: inline;
  position: absolute;
  top: 16px;
  left: 120px;
}

.spot-header-icon {
  width: 70px;
  height: 70px;
  border: 4px solid rgba(var(--b3f, 250, 250, 250), 1);
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin: 4px;
  margin-right: 28px;
}

.spot-header-icon img {
  vertical-align: baseline;
}

.spot-header-button {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.spot-header-button button {
  font-size: 14px;
  height: 26px;
  padding: 0 10px;
  margin-left: 4px;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid rgb(170, 170, 170);
}

.spot-header-button button:focus {
  outline: transparent;
}