.category-wrapper {
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0.6em;
  margin-block-end: 0.2em;
}

.category-one {
  font-weight: bold;
  float: left;
}

.categoryname {
  font-size: 13px;
  margin-bottom: 4px;
}

.menu-button {
  width: 100px;
  height: 120px;
}

.menu-button-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.menu-button-right {
  position: absolute;
  left: 100px;
  bottom: 0px;
}