@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+KR&display=swap');


.save-header {
  height: 14px;
  padding: 6px 0px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Merriweather', serif;
}

.save-text {
  height: 40px;
  padding: 6px 20px;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
}

.save-button {
  margin: 8px auto;
}

.save-button button {
  width: 200px;
  height: 46px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}