@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

.info {
  position: fixed;
  width: 200px;
  height: 200px;
  bottom: 100px;
  margin-bottom: 20px;
  background: transparent;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  animation-duration: 1.5s;
  animation-name: slidedown;
}

@keyframes slidedown {
  from {
    bottom: 180px;
    opacity: 0;
  }

  to {
    bottom: 100px;
    opacity: 1;
  }
}

.content {
  font-size: 15px;
  font-family: 'Gaegu', cursive;
}