@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

#filters {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 199;
}

.btn {
    width: 80px;
    border: none;
    background-color: transparent;
}

.filter_btn {
    font-family: 'Pangolin', cursive;
    width: 40px;
    display: inline-block;
    position: relative;
    padding: 0.4em 1.0em;
    text-decoration: none;
    background: #fdfdfa;
    border: solid 2px #f1f1ef;
    /*Button Color*/
    color: #55554d;
    border-bottom: solid 5px #e7e7dd;
    /*daker than background*/
    border-right: solid 5px #eaebe1;
    /*darker than background*/
}

.filter_btn:active {
    border: none;
    -ms-transform: translate(4px, 4px);
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
    /*move LowerRight*/
}