@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+KR&display=swap');

.binfo-value {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}

.binfo-name {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  margin-right: 8px;
}