@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+KR&display=swap');

.place-guide-header {
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  letter-spacing: 2px;
  word-spacing: 1px;
  position: relative;
}

.place-guide-header i {
  position: absolute;
  top: 12px;
  margin-left: 2px;
}

.place-guide-text {
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
}

.place-guide-text:hover {
  color: #E8BF7E;
}