.slide-button {
  width: 50px;
  height: 350px;
  z-index: 1;
  background-color: transparent;
  border: none;
}

.slide-button i {
  color: #dbdbdb;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.56);
}

.slide-button:focus {
  outline: transparent;
}

.slide-button-left {
  position: absolute;
  top: 4px;
  left: 0px;
}

.slide-button-right {
  position: absolute;
  top: 4px;
  right: 0px;
}