@import url('https://fonts.googleapis.com/css2?family=Alef&family=Modak&family=Poor+Story&display=swap');

.detail-close-button {
    color: #555555;
    padding: 2px;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 9;
}

.detail-info {
    min-width: 300px;
    margin: 0 auto;
}

.detail-info img {
    width: 36px;
    height: 36px;
    padding: 10px;
}

.detail-info span{
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-right: 10px;
    color: #000000;
}

.detail-button-wrapper {
    text-align: center;
}

.detail-button {
    padding: 8px 20px;
    text-align: center;
}

.detail-button button{
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
}

.detail-button span {
    display: block;
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

.detail-like {
    border: 1px solid #E7C7D6; 
}
.detail-like i{
    color: #E7C7D6; 
}

.detail-share {
    border: 1px solid #B7D996;
}

.detail-share i {
    color: #B7D996;
}

.detail-review {
    border: 1px solid #84D9D0;
}

.detail-review i {
    color: #84D9D0;
}

.detail-photo {
    border: 1px solid #CAE5E1;
}

.detail-photo i {
    color: #CAE5E1;
}

.detail-more {
    text-align: center;
}

.detail-more h5{
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    padding: 20px 0px;
}

.detail-more-button button {
    box-sizing: border-box;
    border-radius: 4px;
    background-color:#00E7FF;

    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}

.detail-map-button button {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #00FFB5;

    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}

.detail-button i {
    font-size: 20px;
}

.detail-container {
    padding-bottom: 20px;
}

.detail-name {
    border-radius: 4px;
    background-color:#E6ED63;
}

.detail-place {
    border-radius: 4px;
    background-color:#9FE4E0;
}

.detail-time {
    display: block;
}

