.detail-back-button {
    color: #555555;
    padding: 4px;
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 9;
}

.detail-info {
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    min-width: 300px;
    margin: 0 auto;
}

.detail-info img {
    width: 36px;
    height: 36px;
    padding: 10px;
}

.detail-info span{
    font-size: 16px;
    margin-right: 10px;
    color: #000000;
}

.detail-button-wrapper {
    text-align: center;
}

.detail-button {
    padding: 20px;
    text-align: center;
}

.detail-button button{
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
}

.detail-button button img {
    width: 24px;
    height: 24px;
    padding-top: 4px;
    object-fit: cover;
}

.detail-button span {
    display: block;
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

.detail-like {
    border: 1px solid #E7C7D6; 
}
.detail-like i{
    color: #E7C7D6; 
}

.detail-share {
    border: 1px solid #9FE4E0;
}

.detail-share i {
    color: #9FE4E0;
}

.detail-naver {
    border: 1px solid #B7D996;
}

.detail-insta {
    border: 1px solid #E7C7D6;
}

.detail-more {
    text-align: center;
}

.detail-button i {
    font-size: 20px;
}

.detail-container {
    padding-bottom: 20px;
}

.detail-name {
    border-radius: 4px;
    background-color:#E6ED63;
}

.detail-place {
    border-radius: 4px;
    background-color:#9FE4E0;
}

.detail-time {
    display: block;
}