@import url('https://fonts.googleapis.com/css2?family=Alef&family=Modak&family=Poor+Story&display=swap');

.detail-popup {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border: 2px solid rgb(247, 246, 243);
    border-radius: 30px 30px 0px 0px;
    transition: all 0.5s ease 0s;
}

.detail-popup i {
    padding: 16px;
    color: #555555;
    position: absolute;
    top: -6px;
    right: 0px;
}

.websearch-button {
    padding-top: 36px;
    padding-left: 20px;
    padding-right: 20px;
}

.websearch-button button{
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
}

.websearch-button button img {
    width: 24px;
    height: 24px;
    padding-top: 4px;
    object-fit: cover;
}

.insta button{
    border: 1px solid #E7C7D6;
}

.naver button{
    border: 1px solid #B7D996;
}

.websearch-button span {
    display: block;
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    padding-top: 4px;
}
