.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.wrapper div {
  flex: 1;
  max-width: 94px;
  min-width: 80px;
  text-align: center;
}
.text {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
}
.text.active {
  background-color: rgba(196, 196, 196, 0.3);
}
.dot {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0px auto;
  margin-top: 5px;
}
.dot.active {
  background-color: #ed6161;
}
