@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

/*
[font list]
'Sunflower', sans-serif
'Gaegu', cursive
'Poor Story', cursive;
'Pangolin', cursive
'Just Me Again Down Here', cursive
*/

.space {
  background: transparent;
  margin-left: 3px;
  position: relative;
}

.border {
  height: 65px;
  background: transparent;
  background-size: 80px;
  padding: 3px;
}

.detail {
  position: absolute;
  top: 0px;
  left: 160px;

}

.title {
  background: transparent;
  margin-left: 3px;
  font-size: 12px;
  font-family: 'Pangolin', cursive;
}