@import url('https://fonts.googleapis.com/css2?family=Alef&family=Poor+Story&display=swap');

.card-container {
    width: 320px;
    height: 90px;
    overflow-x: auto;
    padding-left: 40px;
}

.card-wrapper {
    padding-right : 8px;
}

.card-box {
    width: 80px;
    height: 80px;
    background: #FFFFFF;

    font-family: 'Poor Story', cursive;
    font-size: 14px;
    color: #524F4A;
    text-align: center;
}

.card-box span {
    display: block;
}

.card-box img {
    width: 32px;
    height: 32px;
    padding: 10px;
}

.place-eng {
    font-size: 12px;
}