.image-index {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 10px;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}