.detail-mainbox {
  width: 100vw;
  height: 90vh;
  position: relative;
}

.cafe-image {
  width: 360px;
  height: 360px;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 1px 9px 1px rgba(199, 198, 198, 0.75);
  text-align: center;
}

.cafe-basicinfo {
  width: 300px;
  height: 200px;
  margin: 10px auto;
}