@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+KR&display=swap');

.menu-container {
  font-size: 13px;
  font-family: 'Lora', serif;
}

.menu-header {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-block-start: 0.5em;
  margin-block-end: 0.2em;
  border-bottom: 1px solid rgba(223, 205, 187, 1);
}

.open-time {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  margin-right: 20px;
}

.binfo-save-icon i {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 4px;
  padding: 4px;
}