.navi-control{
    position: absolute;
    right: 0;
}
.btn-marker {
    background: url('./marker_red.png') no-repeat center / contain;
    width: 22px;
    height: 35px;
    border: none;
    }
.btn-marker:focus {
    outline: transparent;
}
    
