@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+KR&display=swap');

.spot-header-name {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  padding-top: 12px;
  padding-right: 14px;
}

.spot-header-icon img {
  vertical-align: baseline;
}

.spot-header-button {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.spot-header-button button {
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  height: 26px;
  padding: 0 10px;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 0px 1px 0px rgba(143, 137, 143, 1);
}

.spot-header-button button:focus {
  outline: transparent;
}

.place-icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  color: #C8D265;
}