@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+KR&display=swap');

.cafe-header-name {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  display: inline;
  position: absolute;
  top: 16px;
  left: 54px;
}

.cafe-header-icon {
  width: 32px;
  height: 32px;
  border: 2px solid #BF6D4E;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin: 4px;
}

.cafe-header-icon-box {
  width: 42px;
  height: 42px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 5px;
}

.cafe-header-menu {
  color: rgba(0, 0, 0, 0.56);
  position: absolute;
  right: 12px;
  bottom: 14px;
}