@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+KR&display=swap');

.cafe-header-icon {
  background: linear-gradient(109.5deg, rgba(229, 233, 177, 1) 11.2%, rgba(223, 205, 187, 1) 100.2%);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  margin: 8px;
}

.cafe-header-icon img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 3px;
}

.cafe-header-box {
  width: 100%;
  height: 48px;
  background-color: #fafafa;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
}

.post-back-button {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  left: 8px;
  top: 26px;
  transform: translate(0, -50%);
  padding: 4px;
  width: 32px;
  height: 32px;
}

.cafe-header-name {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  display: inline;
  position: absolute;
  top: 16px;
  left: 54px;
}

.cafe-header-menu {
  color: rgba(0, 0, 0, 0.56);
  position: absolute;
  top: 14px;
  left: 320px;
}

.pop-up-container {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.container-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}

.pop-up-wrap {
  transform: translate(0, -25%);
  transition: transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  min-width: 260px;
  margin: 30px auto;
  max-width: 97%;
}

.pop-up-box {
  display: block;
  margin-top: 120px;
  background-color: #fafafa;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  box-sizing: border-box;
  max-width: 360px;
  max-height: calc(100vh - 70px);
  overflow-x: hidden;
  overflow-y: auto;
}

.container-open .pop-up-wrap {
  transform: translate(0, 0);
  position: relative;
  z-index: 99999;
}

.container-open .bg-overlay {
  background: rgba(0, 0, 0, 0.65);
  z-index: 9999;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.close-btn {
  position: absolute;
  right: 2px;
  top: 100px;
  z-index: 99999;
  font-size: 14px;
  color: #fafafa;
}

@media screen and (min-width:800px) {
  .pop-up-container:before {
    content: "";
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-right: -0px;
    height: 100%;
  }
}

@media screen and (max-width:799px) {
  .pop-up-wrap {
    margin-top: 45px;
  }
}