.detail-carousel-dot-wrapper {
    position: relative;
}

.detail-carousel-container {
    height: 100%;
    max-height: 320px;
    padding-top: 6.5vh;
    position: relative;
}

.detail-carousel-container button {
    font-weight: normal;
    font-size: 12px;
    color: #ffffff;
    padding: 140px 10px;
}