@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+KR&display=swap');

.pu-content-wrap button {
  min-width: 240px;
  height: 46px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #dbdbdb;
  padding: 4px 8px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}

.pu-content-wrap button:hover {
  color: #E8BF7E;
}

.into-cafe a {
  text-decoration: none;
  color: #261308;
  font-weight: 600;
}

.into-cafe a:hover {
  color: #E8BF7E;
}