.cafe-column-wrapper {
    list-style: none;
    padding-left: 36px;
    margin: 0px;
}

.cafe-column-wrapper li{
    float: left;
   
    min-width: 100px;
    min-height: 24px;
    padding-top: 8px;
    padding-right: 60px;
    font-size: 12px;
    font-weight: bold;

    position: relative;
}

.cafe-column-wrapper li i {
    font-size: 18px;
    cursor: pointer;
    padding: 4px;

    position: absolute;
    bottom: 4px;
}