@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Waiting+for+the+Sunrise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


.cafe-name {
  font-size: 14px;
  font-family: "Noto Serif KR", serif;
}

.menuboard {
  width: 300px;
  height: 180px;
  font-size: 12px;
  font-family: 'Lora', serif;
  overflow: hidden;
}

.menuboard h4 {
  font-size: 14px;
  margin-block-start: 0.5em;
  margin-block-end: 0.2em;
  border-bottom: 1px solid #E8BF7E;
}