@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.menu-container {
  font-size: 12px;
  font-family: 'Lora', serif;
}

.menu-header {
  font-size: 12px;
  margin-block-start: 0.5em;
  margin-block-end: 0.2em;
  border-bottom: 1px solid #E8BF7E;
}