.list-button-wrapper {
    position: absolute;
    top: 36px;
    right: 36px;
}

.list-button-wrapper button{
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    padding: 0px; 
    margin: 4px 8px;
    cursor: pointer;
}

.list-button-wrapper i {
    font-size: 18px;
    color: #414750;
    padding-top: 4px;
}

.cafe-delete-button,
.cafe-refresh-button {
    width: 28px;
    height: 28px;
}