header {
    width: 100%;
    height: 6.5vh;
    text-align: center;
    background-color: #ffffff;
}
.header-title  {
    font-size: 12px;
    padding-top: 8px;
}
header #home-link {
    text-decoration: none;
}
.back-button {
    padding: 6px;
}
.back-button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}