header {
    width: 100%;
    height: 6vh;
    text-align: center;
    background-color: #ffffff;
}
.header-title  {
    font-size: 12px;
    padding-top: 8px;
}
header #home-link {
    text-decoration: none;
}