@import url('https://fonts.googleapis.com/css2?family=Alef&family=Poor+Story&display=swap');

header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #home-link {
    text-decoration: none;
}

.header-searchvalue {
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}