.review-list {
    width: 100%;
    overflow: hidden;
    position: relative;
    outline: 1px solid #D2D2D2;
}

.review-list-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 36px;
    border-top: 1px solid #d2d2d2;
}

.no-review-statement {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 80px 0px;
}