@import url('https://fonts.googleapis.com/css2?family=Alef&family=Modak&family=Poor+Story&display=swap');

div {
    font-family: 'Poor Story', cursive;
    font-style: normal;
    font-weight: normal;
}

.no-search-header {
    padding-left: 24px;
    padding-top: 24px;
}

.empty-image-wrapper {
    width: 100%;
    height: 120px;
    padding-top: 100px;
    position: relative;
    text-align: center;
}

.empty-img {
    width: 96px;
    height: 96px;
    object-fit: cover;
}

.cookie-img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    display: inline-block;

    position: absolute;
    bottom: 36px;
    left: 200px;
}

.no-search-text {
    text-align: center;
}