.info {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 120px;
  margin-bottom: -400px;
  background: transparent;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  animation-duration: 1.5s;
  animation-name: slidedown;
}

@keyframes slidedown {
  from {
    bottom: 180px;
  }

  to {
    bottom: 120px
  }
}