.info {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 20px;
  margin-bottom: -200px;
  background: transparent;
  background-size: 100px 100px;
  animation-duration: 1.5s;
  animation-name: slidedown;
}

@keyframes slidedown {
  from {
    bottom: 80px;
  }

  to {
    bottom: 20px
  }
}