@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

.street-section {
  width: 270px;
  height: 450px;
  position: relative;
}

.road-name {
  position: absolute;
  bottom: 3px;
  left: 72px;
  background-color: white;
  writing-mode: vertical-rl;
  padding: 3px;
  font-family: 'Gaegu', cursive;
}