@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

#filters {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 199;
}

.btn {
    width: 80px;
    border: none;
    background-color: transparent;
    background-size: 60px 20px;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Gaegu', cursive;
    font-size: 15px;
}